[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymupdf = "*"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.9"
